@import url('https://fonts.googleapis.com/css?family=Solway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

body {
  font-family: 'Nunito', sans-serif;
  background-color: honeydew;
  background-color: lavenderblush;
  justify-content: center;
  display: grid;
}

.topopage {
  font-family: 'Solway', serif;
  text-align: center;
  color: crimson;

  a {
    text-decoration: none;
    color: crimson;
  }

  a.visited {
    text-decoration: none;
    color: crimson;
  }
}

.goalsSection {
  display: flex;
  flex-wrap: wrap;
}