@import url('https://fonts.googleapis.com/css?family=Solway&display=swap');

body {
  background-color: honeydew;
  background-color: lavenderblush;
  justify-content: center;
  display: grid;
}

.topopage {
  font-family: 'Solway', serif;
  text-align: center;
  color: crimson;
}

.goalsSection {
  display: flex;
  flex-wrap: wrap;
}