.containerStyle {
  margin: 1em;
}

.userActions {
  display: inline-block;
  border: solid 2px crimson;
  padding: 2em;
  border-radius: 2em;
  margin: 1em;
}

.mainScreen {
  background-color: black;
  color: aquamarine;
  min-width: 68vw;
  min-height: 60vh;
  padding: 3em;
}

.yourStatsWindow {
  border: solid 2px crimson;
  padding: 2em;
  border-radius: 2em;
  display: inline-block;
  margin: 1em;
}

.yourStatsList {
  list-style: none;
}